<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<header th:insert="_header"></header>

<div class="container">
    <div th:if="${not #lists.isEmpty(cartItems)}">
        <h2>Your cart:</h2>
            <tr th:each="item : ${cartItems}">
                <td><div class="card-body">
                    <h5 th:text="${item.itemName}"></h5>
                    <p th:text="${item.itemPrice} + '$'"></p>
                </div>
        </div>
</div>

<div th:if="${#lists.isEmpty(cartItems)}">
    <br>
<p th:text="${cartIsEmpty}"></p>
    <br>
    <a th:href="@{/store}">Explore the goods!</a>
</div>

<div th:if="${not #lists.isEmpty(cartItems)}">
<a th:href="@{/order}">Create Order</a>
</div>
</body>
</html>