<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Item View</title>
</head>
<body>
<header th:insert="_header"></header>
<div th:object="${item}">
    <br>
    <strong><p th:text="${item.itemName}" style="padding-left: 10px"></p></strong>
    <br>
    <img th:src="${item.picLink}" height="250" width="250">
    <br>
    <p th:text="${item.itemDesc}" style="padding-left: 10px"></p>
    <p th:text="${item.itemPrice} + '$'" style="padding-left: 10px"></p>
    <p th:text="'Tags: ' + ${item.itemCategory}" style="padding-left: 10px"></p>
</div>
<form th:action="@{/cart}" method="post" style="padding-left: 10px">
    <input type="hidden" th:id="*{itemId}" th:name="itemId" th:value="${itemId}">
    <button class="btn btn-primary">Add To Cart</button>
</form>
</body>
</html>