<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<header th:insert="_header"></header>
<br>
<p>Search by Category</p>
<form th:action="@{/search}" method="post">
    <input type="text" th:name="itemCategory">
    <button type="submit">Search</button>
</form>
<h2 th:text="${nothingFound}" style="color: red"></h2>
<br>
<p>Search by Name</p>
<form th:action="@{/search/name}" method="post">
    <input type="text" th:name="itemName">
    <button type="submit">Search</button>
</form>
<h2 th:text="${nothingFoundByName}" style="color: red"></h2>
<br>
<div class="container">
    <div th:if="${not #lists.isEmpty(result)}">
        <div class="card" style="width: 18rem;">
            <tr th:each="item : ${result}">
                <img th:src="${item.picLink}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.itemName}"></h5>
                    <p class="card-text" th:text="${item.itemDesc}"></p>
                    <p class="card-text" th:text="${item.itemPrice} + '$'"></p>
                    <a th:href="@{/store/item/view/{itemId}(itemId=${item.itemId})}" class="btn btn-primary">Take a look</a>
                    <br>
                </div>
                <br>
        </div>
    </div>
</div>
</body>
</html>